# =========================
# Python cache
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd

# =========================
# Virtual environments
# =========================
.venv/
venv/
env/

# =========================
# OS / Editor files
# =========================
.DS_Store
Thumbs.db
.idea/
.vscode/

# =========================
# TensorBoard & runs
# =========================
tensorboard/
runs/

# =========================
# Logs
# =========================
*.log

# =========================
# Ignore all videos by default
# =========================
*.mp4

# =========================
# Allow evolution videos
# =========================
!highway/videos/**/*.mp4
!merge/videos/**/*.mp4
!highway/videos/**/
!merge/videos/**/

# =========================
# Allow training plots
# =========================
!highway/assets/**/*.png
!merge/assets/**/*.png
