# =========================
# Python
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd

# =========================
# Virtual environment
# =========================
.venv/
venv/
env/

# =========================
# OS / Editor junk
# =========================
.DS_Store
Thumbs.db
.idea/
.vscode/

# =========================
# TensorBoard & temp
# =========================
tensorboard/
runs/

# =========================
# Large checkpoints (OPTIONAL)
# =========================
# Eğer modelleri göndermek istemezsen aç
# *.zip

# =========================
# Logs
# =========================
*.log

# =========================
# Ignore all videos by default
# =========================
*.mp4

# =========================
# BUT allow project evolution videos
# =========================
!highway/videos/**/*.mp4
!merge/videos/**/*.mp4
!highway/videos/**/
!merge/videos/**/

# =========================
# Assets (plots)
# =========================
!highway/assets/**/*.png
!merge/assets/**/*.png
